<main id="dashboard_tabela" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>

        <div class="uk-container uk-container-small sidebar-padding">
            <ul class="uk-breadcrumb">
                <li><a href="/dashboard">dashboard</a></li>
                <li>
                    <a class="" type="button">tabelas</a>
                    <div uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="/dashboard/tabela/especies">Espécies</a></li>
                            <li><a href="/dashboard/tabela/imagens">Imagens</a></li>
                            <li><a href="/dashboard/tabela/comentarios">Comentários</a></li>
                            <li><a href="/dashboard/tabela/utilizadores">Utilizadores</a></li>
                        </ul>
                    </div>
                </li>
                <li><span><%= nome %></span></li>
            </ul>
            <h3>Lista de Espécies</h3>
            <table id="example1" class="display responsive nowrap uk-table uk-table-hover uk-table-divider uk-table-striped" style="width: 100%">
                <thead>
                  <tr>
                    <% for (let col of colunas) { %>
                    <th><%=col%></th>
                    <% } %>
          
                  </tr>
                </thead>
          
              </table>
        </div>





        <div id="modal-criar" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 id="modal-titulo" class="uk-modal-title"></h2>
                <form id="form-criar">
                    <input id="flag" value="0" style="display: none">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="nome">Espécie</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="nome" type="text" placeholder="Pinaster">
                        </div>
                        <label class="uk-form-label" for="sub">Sub Espécie</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="sub" type="text" placeholder="'Crimson King'">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="genero">Género</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="genero">
                                <option value="def">Selecionar:</option>
                                <% for (let gen of generos) { %>
                                    <option value="<%=gen.id%>"><%=gen.id%></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" href="#">Nomes Comuns</a>
                            <div class="uk-margin uk-accordion-content">
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text" placeholder="Pinaster" id="nomes_comuns">
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Características</a>
                            <div class="uk-margin uk-accordion-content">
                                <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                                    id="caracteristicas" name="caracteristicas" class="uk-textarea uk-width-1-1@s" rows="5"
                                    placeholder="Lorem ipsum do..." style="resize: none" maxlength=""></textarea>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Imagem do Ciclo</a>
                            <div class="uk-margin uk-accordion-content" >
                                
                                    <input name ="imagem_ciclo" id="input-ciclo-pic" type="file" accept="image/*" style="cursor: pointer;">
                                
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Ficheiro PDF</a>
                            <div class="uk-margin uk-accordion-content">
                                
                                    <input name ="pdf" id="input-pdf" type="file" accept="application/pdf" style="cursor: pointer;">
                                
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Ecologia</a>
                            <div class="uk-margin uk-accordion-content">
                                <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                                    name="caracteristicas" class="uk-textarea uk-width-1-1@s" rows="5"
                                    placeholder="Lorem ipsum do..." style="resize: none" maxlength="" id="ecologia"></textarea>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Origem</a>
                            <div class="uk-margin uk-accordion-content">
                                <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                                    name="caracteristicas" class="uk-textarea uk-width-1-1@s" rows="5"
                                    placeholder="Lorem ipsum do..." style="resize: none" maxlength="" id="origem"></textarea>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Distribuição</a>
                            <div class="uk-margin uk-accordion-content">
                                <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                                    name="caracteristicas" class="uk-textarea uk-width-1-1@s" rows="5"
                                    placeholder="Lorem ipsum do..." style="resize: none" maxlength="" id="dist"></textarea>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Utilizações</a>
                            <div class="uk-margin uk-accordion-content">
                                <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                                    name="caracteristicas" class="uk-textarea uk-width-1-1@s" rows="5"
                                    placeholder="Lorem ipsum do..." style="resize: none" maxlength="" id="util"></textarea>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Observações</a>
                            <div class="uk-margin uk-accordion-content">
                                <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                                    name="caracteristicas" class="uk-textarea uk-width-1-1@s" rows="5"
                                    placeholder="Lorem ipsum do..." style="resize: none" maxlength="" id="obs"></textarea>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Link Wikipedia</a>
                            <div class="uk-margin uk-accordion-content">
                                <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                                    name="caracteristicas" class="uk-textarea uk-width-1-1@s" rows="5"
                                    placeholder="Lorem ipsum do..." style="resize: none" maxlength="" id="wiki"></textarea>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Referências</a>
                            <div class="uk-margin uk-accordion-content">
                                <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                                    name="caracteristicas" class="uk-textarea uk-width-1-1@s" rows="5"
                                    placeholder="Lorem ipsum do..." style="resize: none" maxlength="" id="ref"></textarea>
                            </div>
                        </li>
                    </ul>
                </form>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                    <button type="submit" form="form-criar" class="uk-button uk-button-primary"
                        type="button">Confirmar</button>
                </p>
            </div>
        </div>
    <script>
        

        var data = <%- JSON.stringify(data) %>;
        var nome_tabela = '<%- nome %>';
        $(document).ready(function() {
            var table = $('#example1').DataTable( {
                ajax: {
                    url: '/dashboard/tabelas/especies/data',
                    cache: true,
                    dataSrc: ""
                },
                "columns": data,
                "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ registos",
                "sSearch": "Filtrar por:",
                "sInfo": "A mostrar (_START_ a _END_) de <b>_TOTAL_</b> registos",
                "oPaginate": {
                    "sNext": "Seguinte",
                    "sPrevious": "Anterior"
                    }
                },
                dom: '<"top"lBfr>tip',
                buttons: [
                    {
                        text:      '<i class="btn-criar"></i>Criar',
                        titleAttr: 'Criar',
                        action: function ( e, dt, node, config ) {
                            //UIkit.modal('#modal-criar').show();
                            $('#modal-criar').addClass('uk-open');
                            $('#modal-criar').show();
                            $('#flag').val('0');
                            $('#modal-titulo').html('Criar espécie');
                            $("#nome").val('');
                            $("#sub").val('');
                            $("#genero" ).val('def').change();
                            $("#nomes_comuns").val('');
                            $("#caracteristicas").val('');
                            $("#input-ciclo-pic").val('');
                            $("#ecologia").val('');
                            $("#origem").val('');
                            $("#dist").val('');
                            $("#util").val('');
                            $("#obs").val('');
                            $("#ref").val('');
                            $("#wiki").val('');
                            $("#input-pdf").val('');
                        }
                    },
                    {
                        text:      '<i class="btn-editar"></i>Editar',
                        titleAttr: 'Editar',
                        action: function ( e, dt, node, config ) {

                            var data = table.rows( { selected: true } ).data()[0];

                            $('#modal-criar').addClass('uk-open');
                            $('#modal-criar').show();
                            $('#flag').val(data.id);
                            $('#modal-titulo').html('Editar espécie');

                            

                            $("#nome").val('');
                            $("#sub").val('');
                            $("#genero" ).val('def').change();
                            $("#nomes_comuns").val('');
                            $("#caracteristicas").val('');
                            $("#ecologia").val('');
                            $("#origem").val('');
                            $("#dist").val('');
                            $("#obs").val('');
                            $("#util").val('');
                            $("#ref").val('');
                            $("#wiki").val('');

                            if(data.nome != '')
                            $("#nome").val(data.nome);
                            if(data.sub_especie != '')
                            $("#sub").val(data.sub_especie);
                            if(data.genero != '')
                            $("#genero" ).val(data.genero).change();
                            if(data.nomes_comuns != '')
                            $("#nomes_comuns").val(data.nomes_comuns);
                            if(data.caracteristicas != '')
                            $("#caracteristicas").val(data.caracteristicas);
                            if(data.ecologia != '')
                            $("#ecologia").val(data.ecologia);
                            if(data.origem != '')
                            $("#origem").val(data.origem);
                            if(data.distribuicao != '')
                            $("#dist").val(data.distribuicao);
                            if(data.utilizacoes != '')
                            $("#util").val(data.utilizacoes);
                            if(data.observacoes != '')
                            $("#obs").val(data.observacoes);
                            if(data.referencias != '')
                            $("#ref").val(data.referencias);
                            if(data.wiki_link != '')
                            $("#wiki").val(data.wiki_link);

                            console.log(table.rows( { selected: true } ).data());
                            //alert( 'Activated!' );
                            //this.disable(); // disable button
                        },
                        enabled: false
                    },
                    {
                        text:      '<i class="btn-apagar"></i>Apagar',
                        titleAttr: 'Apagar',
                        action: function ( e, dt, node, config ) {
                            $.ajax({
                                type: 'post',
                                url: '/apagarEspecie',
                                data: {
                                    id: table.rows( { selected: true } ).data()[0].id,
                                },
                                success: function (response) {
                                    table.ajax.reload();
                                    alert('A espécie foi eliminada com sucesso!');
                                    return true;
                                },
                                error: function (response){
                                    //window.open(JSON.stringify(response))
                                    //confirm(JSON.stringify(response));
                                }
                            }); 
                        },
                        enabled: false
                    },
                ],
                select: 'single'
            } );
             
            
            table.on( 'select', function () {
                var selectedRows = table.rows( { selected: true } ).count();
                table.button( 1 ).enable( selectedRows === 1 );
                table.button( 2 ).enable( selectedRows === 1 );
            } );
            table.on( 'deselect', function () {
                table.button( 1 ).disable();
                table.button( 2 ).disable();
            } );

$("#form-criar").on("submit", function(e){
    e.preventDefault();
    //console.log('front end ' + $("#nome").val());
    var fileInput = document.getElementById('input-ciclo-pic');
    if($('#input-ciclo-pic').val().trim()){
        var file = fileInput.files[0];
        var formData = new FormData();
        formData.append('id', $("#flag").val());
        formData.append('nome', $("#genero option:selected" ).text() + $("#nome").val() + $("#sub").val());
        formData.append('imagem_ciclo', file);  
    }

    var fileInput1 = document.getElementById('input-pdf');
    if($('#input-pdf').val().trim()){
        var file1 = fileInput1.files[0];
        var formData1 = new FormData();
        formData1.append('id', $("#flag").val());
        formData1.append('especie', $("#genero option:selected" ).text() + '_' + $("#nome").val() + '_' + $("#sub").val());
        formData1.append('nome1', file1.name);
        formData1.append('pdf', file1);  
    }
    

    if($("#flag").val() === '0'){
        var formData2 = new FormData();
        formData2.append('nome', $("#nome").val());
        formData2.append('sub', $("#sub").val());
        formData2.append('genero', $("#genero option:selected" ).text());
        formData2.append('nomes_comuns', $("#nomes_comuns").val());
        formData2.append('caracteristicas', $("#caracteristicas").val());
        formData2.append('ecologia', $("#ecologia").val());
        formData2.append('origem', $("#origem").val());
        formData2.append('dist', $("#dist").val());
        formData2.append('obs', $("#obs").val());
        formData2.append('ref', $("#ref").val());
        formData2.append('wiki', $("#wiki").val());
        formData2.append('util', $("#util").val());
        if($('#input-ciclo-pic').val().trim()){
            formData2.append('nome_imagem', $("#genero option:selected" ).text() + $("#nome").val() + $("#sub").val());
            formData2.append('imagem_ciclo', file);
        }
        if($('#input-pdf').val().trim()){
            formData2.append('especie_pdf', $("#genero option:selected" ).text() + '_' + $("#nome").val() + '_' + $("#sub").val());
            formData2.append('nome_pdf', file1.name);
            formData2.append('pdf', file1);  
        }
        $.ajax({
            type: 'post',
            url: '/criarEspecie',
            data: formData2,
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            success: function (response) {
                let temp = $("#genero option:selected" ).text() + ' ' + $("#nome").val() + ' ' + $("#sub").val();
                $("#nome").val('');
                $("#sub").val('');
                $("#genero" ).val("def").change();
                $("#nomes_comuns").val('');
                $("#caracteristicas").val('');
                $("#ecologia").val('');
                $("#origem").val('');
                $("#dist").val('');
                $("#obs").val('');
                $("#ref").val('');
                $("#wiki").val('');
                $("#util").val('');
                $('#input-ciclo-pic').val('');
                $('#input-pdf').val('');
                
                $('#modal-criar').removeClass('uk-open');
                $('#modal-criar').hide();
                table.ajax.reload();
                alert('A espécie ' + temp + ' foi criada com sucesso!');
                return true;
            },
            error: function(response){
            }
        });
    } else {
        if($('#input-pdf').val().trim()){

            $.ajax({
                    type: 'post',
                    url: '/adicionarPdf',
                    data: formData1, 
                    processData: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    success: function(response){
                        if($('#input-ciclo-pic').val().trim()){
                
                $.ajax({
                    type: 'post',
                    url: '/adicionarCiclo',
                    data: formData, 
                    processData: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    success: function(response){
                        console.log('sucesso')
                        editarEspecie();

                    },
                    error: function (response){
                        console.log('erro')
                        //window.open(JSON.stringify(response))
                        //confirm(JSON.stringify(response));
                    }
                })
            } else {
                editarEspecie();
            }
                    },
                    error: function(response){
                    }
            });
            
        } else{
            if($('#input-ciclo-pic').val().trim()){
                console.log($("#genero option:selected" ).text() + $("#nome").val() + $("#sub").val())
                $.ajax({
                    type: 'post',
                    url: '/adicionarCiclo',
                    data: formData, 
                    processData: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    success: function(response){
                        console.log('sucesso')
                        editarEspecie();

                    },
                    error: function (response){
                        console.log('erro')
                        //window.open(JSON.stringify(response))
                        //confirm(JSON.stringify(response));
                    }
                })
            } else {
                editarEspecie();
            }
        }
    }
    return false;
})

function editarEspecie(){
    $.ajax({
        type: 'post',
        url: '/editarEspecie',
        data: {
            id: $("#flag").val(),
            nome: $("#nome").val(),
            sub: $("#sub").val(),
            genero: $("#genero option:selected" ).text(),
            nomes_comuns: $("#nomes_comuns").val(),
            caracteristicas: $("#caracteristicas").val(),
            ecologia: $("#ecologia").val(),
            origem: $("#origem").val(),
            dist: $("#dist").val(),
            obs: $("#obs").val(),
            ref: $("#ref").val(),
            wiki: $("#wiki").val(),
            util: $("#util").val()
        },
        success: function (response) {
            let temp = $("#genero option:selected" ).text() + ' ' + $("#nome").val() + ' ' + $("#sub").val();
            $("#nome").val('');
            $("#sub").val('');
            $("#genero" ).val("def").change();
            $("#nomes_comuns").val('');
            $("#caracteristicas").val('');
            $("#ecologia").val('');
            $("#origem").val('');
            $("#dist").val('');
            $("#obs").val('');
            $("#ref").val('');
            $("#wiki").val('');
            $("#util").val('');
            $('#input-ciclo-pic').val('');
            $('#input-pdf').val('');
            $('#modal-criar').removeClass('uk-open');
            $('#modal-criar').hide();
            table.ajax.reload();
            alert('A espécie ' + temp + ' foi alterada com sucesso!');
            return true;
        },
        error: function (response){
            //window.open(JSON.stringify(response))
            //confirm(JSON.stringify(response));
        }
    });
}


        } );


        var title;
        var url;
        title = 'Tabela de <%= nome %>';
        url = '/dashboard/tabelas/<%= nome %>'
        console.log(title);
        console.log(url);
        window.history.replaceState({page: "another"}, title, url);

        


    </script>
</main>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
